---
import BaseHead from "../components/BaseHead.astro";
import MenuButton from "../components/Menu/MenuButton.astro";
import MenuComponent from "../components/Menu/MenuComponent.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <main>
      <header class="flex justify-between px-4 pt-4">
        <a href={Astro.url.origin} id="page-name" style="color: white" class=`text-4xl z-20`>
          <div>SOCIALIZED</div><div>FILM</div><div></div>
        </a>
        <MenuButton fontColor="white" />
      </header>
      <a href="/gallery/sofaxbible">
        <picture id="main-image">
          <source srcset="/image/000072.webp" media="(width < 400px)" />
          <img
            src="/image/000046.jpg"
            alt="a couple looking at difference direction"
            class="absolute left-0 top-0 h-dvh w-dvw object-cover object-[center_80%]"
          />
        </picture>
      </a>
      <footer id="date" class="absolute bottom-4 left-4 text-6xl text-white">JAN 2024</footer>
      <MenuComponent />
    </main>
  </body>
</html>
